.invoiceCard {
    width: calc(50% - 0.5rem);
    margin-bottom: 1rem;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.invoiceCardHeader {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.invoiceCardBody {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

p.invoiceCardTenant {
    margin: 0 0 0.1rem;
    font-weight: 700;
}

p.invoiceCardProperty {
    margin: 0;
    font-size: 0.875rem;
}

@media (max-width: 750px) {
    .invoiceCard {
        width: 100%;
    }
}
