.PriorityRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.PriorityRow p:first-of-type {
    width: 7rem;
    font-weight: 700;
}

.PriorityRow p:nth-of-type(2) {
    width: calc(100% - 9.5rem);
}

.PriorityRowIcon {
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.PriorityRowIcon svg {
    width: 1rem;
    height: 1rem;
    color: #0071CE;
}

.PriorityModalContent {
    padding: 1rem;
}

.PriorityModalContent select,
.PriorityModalContent textarea {
    width: 100%;
    margin: 0 0 1rem;
}