:root {
    --color-BrandBlue: #0071ce;
    --color-DarkGrey: #333;
    --color-LightGrey: #a5a5a5;
    --color-White: #ffffff;
    --color-OffWhite: #f5f5f5;
    --color-SucccessGreen: #1b501f;
    --color-SucccessGreenSecondary: #cdeed0;
    --color-WarningRed: #650b0b;
    --color-WarningRedSecondary: #fce8e8;
    --color-PECOOrange: #ff9e18;
}
