.invoices {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    margin: 0 0 1rem;
}

    .invoices h2 {
        margin: 0 0 0.5rem;
        font-size: 1.25rem;
    }

    .invoices p {
        font-size: 0.875rem;
        margin: 0 0 0.35rem;
    }

.invoiceCards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
